I start by importing the Pandas library.

In [99]:
import pandas as pd

Next I read in my first dataset and asign it to a DataFrame, then I rename the "Duration (min)" column to "Runtime", once that is done I filter the columns I want to use into a new DataFrame and remove all the NaN values.

In [100]:
data = pd.read_csv("imdb_data\imdb-movies-dataset.csv")

data = data.rename(columns={"Duration (min)": "Runtime"})

new_data = data.loc[:, ['Title', 'Runtime', 'Genre', 'Rating']]
new_data = new_data.dropna()

After I removed the NaN values, I needed to convert the "Runtime" column to a string in order to replace the trailing '.0' with an empty space ''.

In [101]:
new_data['Runtime'] = new_data['Runtime'].astype(str)
new_data['Runtime'] = new_data['Runtime'].str.replace('.0', '')

Now that my first dataset is ready, I moved on to my second dataset. I start with reading the CSV into a DataFrame and renaming the columns I want to use so they match my first dataset, then I filter out the columns I want to use into a new DataFrame.

In [102]:
data1k = pd.read_csv("imdb_top1k\imdb_clean.csv")

data1k = data1k.rename(columns={"title": "Title", "runtime": "Runtime", "genre": "Genre", "rating": "Rating"})

new_data1k = data1k.loc[:, ["Title", "Runtime", "Genre", "Rating"]]

My new DataFrame had an issue with having multiple rows for the same film because the films fell into more than one genre. So to combine all the mostly duplicate rows, I grouped all the columns except the 'Genre' column and then using apply to use the lambda function to join all the seperate genre rows into a single string separated by a comma and space, once that was done I had to reset the index.

In [103]:
new_data1k_grouped = new_data1k.groupby(['Title', 'Runtime', 'Rating'])['Genre'].apply(lambda x: ', '.join(x)).reset_index()

After I had combined the duplicate rows I had to convert the 'Runtime' column on my second dataset to a string so I could use concat to merge my two datasets into my new one, I also had to use ignore_index to reset the index to a new one instead of using the indicies from the original two datasets.

In [104]:
new_data1k_grouped['Runtime'] = new_data1k_grouped['Runtime'].astype(str)

all_data = pd.concat([new_data, new_data1k_grouped], ignore_index=True)

Once all my data was in a single DataFrame, I wrote the data to a new CSV that is stored in my project folder.

In [105]:
all_data.to_csv("all_imdb_data.csv")

In [108]:
def genre_extractor(df, genre_str, rating_int):
 # Step 1: Create a copy of the data
    df_copy = df.copy()
    
    # Step 2: Filter the DataFrame based on the genre and rating inputs
    filtered_df = df_copy[(df_copy['Genre'] == genre_str) & (df_copy['Rating'] >= rating_int)]
    
    # Step 3: Write the new DataFrame to a new CSV file
    filtered_df.to_csv('filtered_data.csv', index=False)
    
    return filtered_df

In [109]:
genre_extractor(all_data, 'Comedy', 7.0)

,Title,Runtime,Genre,Rating
244,Mean Girls,97,Comedy,7.1
304,Dazed and Confused,103,Comedy,7.6
426,American Pie,95,Comedy,7.0
459,Airplane!,88,Comedy,7.7
499,Superbad,113,Comedy,7.6
500,The Hangover,100,Comedy,7.7
513,Ferris Bueller's Day Off,103,Comedy,7.8
593,Office Space,89,Comedy,7.6
708,Napoleon Dynamite,96,Comedy,7.0
717,Dumb and Dumber,107,Comedy,7.3
753,Trading Places,116,Comedy,7.5
867,Young Frankenstein,106,Comedy,8.0
935,National Lampoon's Animal House,109,Comedy,7.4
1004,Uncle Buck,100,Comedy,7.1
1125,Nu astepta prea mult de la sfârsitul lumii,163,Comedy,7.5
1157,Old School,88,Comedy,7.0
1420,Anchorman: The Legend of Ron Burgundy,94,Comedy,7.1
1444,Ölümlü Dünya 2,117,Comedy,7.0
1718,The Birdcage,117,Comedy,7.2
1916,Borat: Cultural Learnings of America for Make ...,84,Comedy,7.4
2500,Booksmart,102,Comedy,7.1
2555,Life of Brian,94,Comedy,8.0
3063,Best in Show,90,Comedy,7.4
3082,National Lampoon's Christmas Vacation,97,Comedy,7.5
3266,Clerks,92,Comedy,7.7
3274,Un p'tit truc en plus,99,Comedy,7.3
3578,The Jerk,94,Comedy,7.1
3881,Fever Dream,195,Comedy,7.2
3960,Death at a Funeral,90,Comedy,7.3
4778,What About Bob?,99,Comedy,7.0
4822,Three O'Clock High,97,Comedy,7.1
5290,Nadikar,142,Comedy,7.0
5426,Clerks II,97,Comedy,7.3
6021,Bonus Track,98,Comedy,7.6
6204,Tampopo,114,Comedy,7.9
6508,Bringing Up Baby,102,Comedy,7.8
6809,Gokuraku sentô: Kyonyû yumomi,60,Comedy,8.4
6848,Waiting for Guffman,84,Comedy,7.4
7494,In the Loop,106,Comedy,7.4
8330,Deconstructing Harry,96,Comedy,7.3
8331,The Odd Couple,105,Comedy,7.6
8665,Just Now Jeffrey,120,Comedy,9.5
8692,Agak Laen,119,Comedy,8.1
8992,Waking Ned,91,Comedy,7.3
8999,The Moon Is Upside Down,100,Comedy,7.0
9178,Sedmikrásky,75,Comedy,7.3
9632,Airplane!,88,Comedy,7.7
9730,Bringing Up Baby,102,Comedy,7.8
9766,Clerks,92,Comedy,7.7
9851,Ferris Bueller's Day Off,103,Comedy,7.8
10016,Life of Brian,94,Comedy,8.0
10107,Office Space,89,Comedy,7.6
10266,Superbad,113,Comedy,7.6
10329,The Discreet Charm of the Bourgeoisie,102,Comedy,7.8
10365,The Hangover,100,Comedy,7.7
10578,Young Frankenstein,106,Comedy,8.0
10582,Zelig,79,Comedy,7.7

In [ ]:
def golden_movie_ratio_main(df, genre_str, rating_int):
    step1 = genre_extractor(df, genre_str, rating_int)
    step2 = avg_runtime(step1)